<h2>
    Lista de pedidos
</h2>

<div class="col-md-4" *ngFor="let pedido of pedidos">

  <div class="card text-center">
    <div class="card-header align-items-center">
      {{pedido.id}}
    </div>
    <div class="card-body">
     
      <p> Cliente:
          {{pedido.customerName}}
      </p>
      <p *ngIf="pedido.status===1" class='bg-primary text-white'>
        No entregado
      </p>
      <p *ngIf="pedido.status===2" class='bg-success text-white' >
        Entregado
      </p>
      <a [routerLink]="['/pedidos/edit', pedido.id]" class="btn btn-info btn-block">
        Edit Pedido
      </a>   
    </div>
  </div>
</div>
